<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <property name="charset" value="UTF-8" />

    <property name="severity" value="error"/>
        
    <property name="fileExtensions" value="java, properties, xml" />

    <!-- Checks for whitespace                                  -->
    <!-- See http://checkstyle.org/checks/whitespace/index.html -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true" />
    </module>

    <module name="RegexpSingleline">
        <property name="format" value=".*\S\s+$"/>
        <property name="message" value="Trailing whitespace detected"/>
    </module>

    <module name="TreeWalker">
        <module name="AvoidStarImport" />
        <module name="Indentation">
            <property name="forceStrictCondition" value="true"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="CommentsIndentation"/>
        <module name="AnnotationLocation">
            <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
            <property name="allowSamelineParameterizedAnnotation" value="false"/>
            <property name="allowSamelineMultipleAnnotations" value="false"/>
        </module>
    </module>

    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

</module>
