<table role="presentation" cellspacing="0" cellpadding="0" align="center" border="0" width="100%" style="width: 100%;">
  <tr>
    <td align="left" bgcolor="#1e5f20" style="background-color: #1e5f20;" valign="top">
      <div>
        <table role="presentation" cellspacing="0" cellpadding="0" align="center" border="0" width="100%" style="width: 100%;">
          <tr>
            <td align="left" style="padding: 16px;">
              <span style="color: #ffffff; font-size: 16px; line-height: 24px; font-weight: bold; font-family: Helvetica, sans-serif;">{issue_details_label}</span>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <table role="presentation" cellspacing="0" cellpadding="0" align="center" border="0" width="100%">
        <tr>
          <td align="left" valign="top" width="8">
            <table role="presentation" cellspacing="0" cellpadding="0" width="8"><tr><td width="8" height="12" bgcolor="#1e5f20" style="background-color: #1e5f20; font-size: 1px; line-height: 1px;">&nbsp;</td></tr></table>
          </td>
          <td align="left" valign="top">
            <table role="presentation" cellspacing="0" cellpadding="0" align="center" border="0" width="100%" style="width: 100%;">
              <tr>
                <td align="left" style="border: 1px solid #777777; padding: 8px;" valign="top">
                  <table role="presentation" cellspacing="0" cellpadding="0" align="center" border="0" width="100%" style="width: 100%;">

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_project_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{projectTitle}</span>
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_id_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif; word-break: break-all;">{issueId}</span>
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_title_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{issueTitle}</span>
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_type_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{issueType}</span>
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_status_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        {#if statusBgColor}
                          <span style="display: inline-block; padding: 4px 10px; border-radius: 8px; background-color: {statusBgColor}; color: {statusTextColor}; font-weight: bold; font-size: 13px; font-family: Helvetica, sans-serif;">{status}</span>
                        {#else}
                          <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{status}</span>
                        {/if}
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_owner_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 8px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{ownerName} ({ownerEmail})</span>
                      </td>
                    </tr>

                    <tr>
                      <td class="dark-font" style="white-space: nowrap; color: #222222; font-size: 10px; line-height: 16px; font-family: Helvetica, sans-serif;" valign="top">{issue_actor_label}</td>
                      <td style="padding-left: 8px;" valign="middle" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" width="100%"><tr><td height="2" style="border-bottom: 1px dotted #c4c4c4; font-size: 1px;">&nbsp;</td></tr></table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding: 8px 0px 0px 8px;" valign="top">
                        <span class="dark-font" style="color: #222222; font-size: 14px; line-height: 24px; font-family: Helvetica, sans-serif;">{actorName} ({actorEmail})</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td align="left" valign="top" width="8">
            <table role="presentation" cellspacing="0" cellpadding="0" width="8"><tr><td width="8" height="12" bgcolor="#1e5f20" style="background-color: #1e5f20; font-size: 1px; line-height: 1px;">&nbsp;</td></tr></table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
