name: "CI Build"

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  run-tests:
    name: JDK ${{ matrix.java }} Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [17, 21, 25] # LTS-Versions
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build REMSFAL
        uses: ./.github/actions/build-remsfal
        with:
          java-version: ${{ matrix.java }}
      - name: Upload Surefire Reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: surefire-reports-jdk-${{ matrix.java }}-${{ github.run_id }}
          path: |
            remsfal-core/target/surefire-reports/
            remsfal-services/*/target/surefire-reports/
          retention-days: 14
      - name: Build JaCoCo Reports (only on JDK 25)
        if: ${{ matrix.java == 25 }}
        run: mvn -B verify
      - name: Upload Coverage Reports (only on JDK 25)
        if: ${{ matrix.java == 25 }}
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ github.run_id }}
          path: target/site/jacoco/jacoco.xml
          retention-days: 1
          if-no-files-found: error
      - name: Upload Compiled Classes (only on JDK 25)
        if: ${{ matrix.java == 25 }}
        uses: actions/upload-artifact@v6
        with:
          name: binaries-${{ github.run_id }}
          path: |
            **/target/classes/
            **/target/generated-sources/
          retention-days: 1
      - name: Build Checkstyle Reports (only on JDK 25)
        if: ${{ matrix.java == 25 }}
        run: mvn -B checkstyle:checkstyle-aggregate
      - name: Upload Checkstyle Reports (only on JDK 25)
        if: ${{ matrix.java == 25 }}
        uses: actions/upload-artifact@v6
        with:
          name: checkstyle-${{ github.run_id }}
          path: target/checkstyle-result.xml
          retention-days: 1
          if-no-files-found: error

  check-branches:
    name: "Check Pull Request Conditions"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.actor != 'remsfal-bot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check PR branches
        run: |
          if [ "${{ github.head_ref }}" == "main" ] && [ "${{ github.base_ref }}" == "main" ]; then
            echo "Pull Requests to main branch are only allowed from developer branches that are not named <main>."
            exit 1
          fi
