name: "CI Build"

on:
  push:
    branches: ["main"]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request_target:
    branches: ["main"]

jobs:
  jdk17-build:
    name: "JDK 17 Build"
    runs-on: ubuntu-latest
    steps:
      - name: Build REMSFAL
        uses: ./.github/actions/build-remsfal
      - name: Archive test output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: remsfal-service/target/surefire-reports/
          retention-days: 30
      - name: Save PR number to file for subsequently Sonar Analysis
        if: github.event_name == 'pull_request'
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: echo $PR_NUMBER > PR_NUMBER.txt
      - name: Archive PR number for subsequently Sonar Analysis
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: PR_NUMBER
          path: PR_NUMBER.txt

  jdk21-build:
    name: "JDK 21 Build"
    runs-on: ubuntu-latest
    steps:
      - name: Build REMSFAL
        uses: ./.github/actions/build-remsfal
        with:
          java-version: '21'

  check-branches:
    name: "Check Pull Request Conditions"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check PR branches
        run: |
          if [ "${{ github.head_ref }}" == "main" ] && [ "${{ github.base_ref }}" == "main" ]; then
            echo "Pull Requests to main branch are only allowed from developer branches that are not named <main>."
            exit 1
          fi
